<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Neat Burguer</title>
</head>
<body>
    <header>
        <nav>
            <a href="~/Home/Index">Principal</a>
            <a href="~/Home/Menu1/1">Menú estilo 1</a>
            <a href="~/Home/Menu2">Menú estilo 2</a>
            <a href="~/Home/Menu3/1">Menú estilo 3</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>

